{{ 'custom-section.css' | asset_url | stylesheet_tag }}

<section class="custom-section">
  <div class="custom-section__inner-container">
    <h2 class="custom-section__title">Featured Products</h2>
    {% assign collection_handle = 'featured-products' %}
    {% if collection_handle %}
      {% assign collection = collections[collection_handle] %}
      {% if collection.products.size > 0 %}
        {% assign sorted_products = collection.products | sort: 'price' %}
        <ul class="custom-section__product-list">
          {% for product in sorted_products limit: 4 %}
            {% assign product_in_cart = false %}
            
            {% for item in cart.items %}
              {% if item.product.id == product.id %}
                {% assign product_in_cart = true %}
                {% break %}
              {% endif %}
            {% endfor %}
            
            {% unless product_in_cart %}
              <li class="custom-section__product-item">
                <div class="custom-section__product-image-container">
                  <img 
                    src="{{ product.featured_image | img_url: 'original' }}" 
                    alt="{{ product.title }}" 
                    width="100%" 
                    height="auto" 
                    class="custom-section__product-image">
                </div>
                <a href="{{ product.url }}" class="custom-section__product-link">
                  <h3 class="custom-section__product-title">{{ product.title }}</h3>
                </a>
                <form action="/cart/add" method="post" class="custom-section__add-to-cart-form">
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                  <button
                    class="custom-section__add-to-cart-btn"
                    type="submit"
                  >
                    Add to cart - {{ product.price | money }}
                  </button>
                </form>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      {% else %}
        <p>No products found in this collection.</p>
      {% endif %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Custom section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Default custom section"
    }
  ],
  "tag": "section",
  "class": "custom-section",
  "limit": 1,

}
{% endschema %}
